.hide{
    display: none;
}

.topBar{
    font-family: 'Pacifico', cursive;
    color:white;
    font-size: 30px;
    text-align: center;
    height:50px;
    width:100%;
    background-image: url('img/background\ top\ bar.jpg');
    background-size:50px;
}


.container{
    position: relative;
    width: 80%;
    height:90%;
    margin: auto;
    background-image: url("img/background\ space.png");
    overflow:hidden;
    animation: scrollBg infinite 100s linear ;

}

@keyframes scrollBg{
    100%{
      background-position:0px 3000px;
    }
  }

.startButton{
    box-sizing: border-box;
}

.myShip{
    position: absolute;
    left:45%;
    bottom: 8%;
    width:80px;
    height:60px;
}

.engineOn{
    position:relative;
    left: 17px;
}

.fireme{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.alien {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 80px;
    height: 50px;
    padding: 5px;
    color: white;
    background-color: blue;
    box-shadow: 0px 1px 8px 0px black;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
}
.eye {
    position: absolute;
    width: 20px;
    border-radius: 25%;
    color: black;
    height: 20px;
    background-color: aliceblue;
}

.eye::after {
    content: "\2022";
}

.mouth {
    position: absolute;
    width: 70%;
    height: 2px;
    bottom: 10px;
    left: 15%;
    border: 4px dotted white;
    background-color: black;
}

.gameOver{
    position:absolute;
    left:10%;
    top:30%;
    text-align: center;
    color: green;
    font-family:'Yeon Sung', cursive;
    font-size: 60px;
    animation-name: moving;
    width:80%;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    
}
@keyframes moving {
    from {color: green;font-size: 60px;}
    to {color: red;font-size: 120px;}
  }




 /* Step 0: Display object */
.win {
    font-family: 'Pacifico', cursive; 
    color: purple;
    font-size: 60px;
    text-align: center; 
    width: 500px;
    height: 500px;
    border-radius: 100px;
    background-color: #eef529;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /* Step 1: Set up Keyframes */
  /* fadeInOut */
  @keyframes fadeInOut {
    from { opacity: 1; }
    to   { opacity: 0; }
  }
  /*text shrink Grow*/
  @keyframes textThrinkGrow{
      from{font-size: 60px;}
      to{font-size: 30px;}
  }
  /* shrinkGrow */
  @keyframes shrinkGrow {
    from { width: 200px; height: 200px; }
    to   { width: 100px; height: 100px; }
  }
  
  /* move */
  @keyframes move {
    0%     { left: 0px;   top: 0px; }
    25%    { left: 800px; top: 0px; }
    50%    { left: 800px; top: 350px; }
    75%    { left: 0px;   top: 350px; }
    100%   { left: 0px;   top: 0px}
  }
  
  /* change colors */
 
  @keyframes change {
    0%      { background-color: #eef529; }
    16.67%  { background-color: #cc5e00; }
    33.33%  { background-color: #b40808; }
    50%     { background-color: #8312c9; }
    66.67%  { background-color: #1e3cba; }
    83.33%  { background-color: #1ba340; }
    100%    { background-color: #eef529; }
  }
  
  /* Step 2: Set up the animation */
  .win {
    animation: move 2s infinite,
                       shrinkGrow 1s linear infinite alternate,
                       change 6s 2s linear infinite,
                       textShrinkGrow 1s linear infinite alternate;
  }



html, body{
    height: 100%;
}

body{
    background: black;
}